<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" [routerLink]="['/']">FileUpload</a>
            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target=".navbar-collapse"
                    aria-label="Toggle navigation"
                    [attr.aria-expanded]="isExpanded"
                    (click)="toggle()">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
                 [ngClass]="{ show: isExpanded }">
                <ul class="navbar-nav flex-grow">
                    <li class="nav-item" [routerLinkActive]="['link-active']">
                        <a class="nav-link text-danger" target="_blank" [routerLink]="['/api/transaction/currency/usd']">Get By Currency</a>
                    </li>
                </ul>
                <ul class="navbar-nav flex-grow">
                    <li class="nav-item" [routerLinkActive]="['link-active']">
                        <a class="nav-link text-dark" target="_blank" [routerLink]="['/api/transaction/status/approved']">Get By Status</a>
                    </li>
                </ul>
                <ul class="navbar-nav flex-grow">
                    <li class="nav-item" [routerLinkActive]="['link-active']">
                        <a class="nav-link text-primary" target="_blank" [routerLink]="['/api/transaction/date/2019-02-20&2019-02-21']">Get By DateRange</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
